* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(152, 97, 21);
    background-image: url("../images/background.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Papyrus, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
}

.book {
    width: 40%;
    height: 90%;
    position: relative;
    transition-duration: 1s;
    perspective: 1500;
    flex: initial;
}

/* BOOKCOVER FRONT */

.cover, .book-backcover {
    background: rgb(120, 82, 29);
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    z-index: 2;
    transform-origin: center left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
    transition: transform 1s;
}

.front-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0 5px rgb(41, 41, 41);
    display: flex;
    justify-content: center;
}

.bookcover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px rgb(41, 41, 41);
}

.mysticode {
    position: absolute;
    width: 70%;
    top: 15%;
}

.logo {
    position: absolute;
    width: 30%;
    opacity: 0.9;
    top: 38%;
}

.grimoire {
    position: absolute;
    width: 70%;
    top: 65%;
}

.back-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    box-shadow: 0 0 5px rgb(41, 41, 41);
    display: flex;
    min-width: 200px;
}

.bookcover-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 0 5px rgb(41, 41, 41);
}

/* BACK-COVER */

.book-backcover {
    position: relative;
    z-index: -1;
}

/* GREETING */

.greeting {
    position: absolute;
    top: 80%;
    left: 30%;
    z-index: 3;
    color: white;
    font-family: cursive;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s;
}

.logout:hover {
    transition: 0.5s;
    color: #e6c805;
    text-shadow: 0 0 15px #e6c805;
}

/* NAVIGATION */

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 3rem;
}

.menu-option {
    cursor: pointer;
    transition: .5s;
    height: 3.4rem;
    margin: 0.5rem;
}

.menu-option:hover {
    font-size: 3.3rem;
    transition: 0.5s;
    color: #e6c805;
    text-shadow: 0 0 15px #e6c805;
}

@media(max-width: 1300px) {
    .menu {
        font-size: 1.7rem;
    }

    .menu-option {
        margin: -0.1rem;
    }

    .menu-option:hover {
        font-size: 2rem;
    }
}

/* PAGE */

.page {
    z-index: 1;
    background-color: antiquewhite;
    width: 99%;
    height: 98%;
    margin-top: 1%;
    position: absolute;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px rgb(41, 41, 41);
}

.parchment {
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    position: absolute;
}

.introduction {
    position: absolute; 
    width: 100%;
    height: 100%; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.introduction img {
    width: 80%;
    border-radius: 15px;
    display: flex;
    flex: 0 1 50%;
    margin: 30px 0 15px 0;
}

.text {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    padding-top: 30px;
    min-width: 200px;
}

@media(max-width: 1200px) {
    .text {
        font-size: 1.2rem;
    }
}

/* SPELL LIST */

h2 {
    margin: 10px 0;
}

.spells, .spell, .register, .login, .add, .search, .filter {
    position: absolute; 
    width: 100%;
    height: 95%; 
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 20px 0; 
}

.spellsContainer {
    width: 90%;
    background-color: antiquewhite;
    border: 2px solid rgb(136, 85, 48);
    border-radius: 8px;
    margin: 5px;
    display: flex;
    cursor: pointer;
    transition: .5s;
}

.spellsContainer:hover {
    transition: 0.5s;
    border: 2px solid #f3c45f;
}

.imageContainer {
    height: 100px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.spellImage {
    object-fit: contain;
    height: 100px;
    width: 90%;

}

.textContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.spellsName {
    font-size: 1.3rem;
    margin: 20px 0 10px 0;
}

.spellsElement {
    margin-bottom: 20px;
}

/* SINGLE SPELL */

.singleSpellContainer {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleTextContainer {
    padding: 20px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2rem;
    width: 90%;
}

.singleSpellName {
    font-size: 2rem;
    text-align: center;
}

.singleSpellElement {
    margin: 10px 0;
    font-size: 1.3rem;
}

.singleSpellDescription {
    font-size: 1.2rem;
}

.singleImageContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.singleSpellImage {
    object-fit: contain;
    height: 300px;
    width: 90%;
}

/* LOGIN AND REGISTER */

.loginContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeading {
    text-align: center;
}

#loginForm, #registerForm {
    padding-top: 20%;
    width: 100%;
}

.emailContainer, .passwordContainer, .firstNameContainer, .lastNameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#loginEmail, #loginPassword, #firstName, #lastName, #registerEmail, #registerPassword {
    width: 60%;
    height: 35px;
    flex: 0 0 auto;
    background-color: rgb(247, 238, 227);
    border-radius: 8px;
    padding-left: 8px;
    border: 1px solid rgb(97, 64, 40);
}

.loginButton, .registerButton {
    background-color: rgb(136, 85, 48);
    color: white;
    padding: 6px 15px;
    border-radius: 8px;
    margin: 20px 0 25px 0;
    font-family: Papyrus, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.registerLink, .loginLink {
    cursor: pointer;
    align-self: flex-start;
    text-decoration: underline;
}

/* SEARCH */

.search {
    overflow-y: hidden;
}

.searchContainer {
    width: 90%;
    height: 100%;
}

.searchHeading {
    text-align: center;
}

.searchInputContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    width: 90%;
    height: 50%;
    border: 1px solid rgb(97, 64, 40);
    border-radius: 8px;
    padding-left: 10px;
}

.searchResultsContainer {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

/* FILTER */

.filter {
    overflow-y: hidden;
}

.filterContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#filterForm {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(97, 64, 40);
}

.radioContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.elementLabel {
    padding-right: 20px;
}

.filterResults {
    height: 80%;
    width: 100%;
    overflow-y: auto;
}

/* ADD SPELL */

.addContainer {
    width: 90%;
    height: 100%;
    overflow-y: auto;
}

#addForm {
    display: flex;
    flex-direction: column;
}

.addHeading {
    text-align: center;
}

label {
    font-size: 1.2rem;
    margin: 1.4rem 0 0.2rem 0;
}

#name, #element, #description {
    background-color: rgb(247, 238, 227);
    font-size: 1rem;
    font-family: cursive;
    letter-spacing: 0.05rem;
    border-radius: 8px;
    padding-left: 10px;
    border: 1px solid rgb(97, 64, 40);
}

#name {
    width: 50%;
}

#element {
    width: 100px;
}

#description {
    width: 95%;
    height: 60%;
}

#image {
    font-family: Papyrus, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    width: 300px;
}

#addSubmit {
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(136, 85, 48);
    border-radius: 8px;
    color: white;
    font-family: Papyrus, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

/* SCROLL */

.spells::-webkit-scrollbar {
    width: 10px;
   }
   
.spells::-webkit-scrollbar-track {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
   }
   
.spells::-webkit-scrollbar-thumb {
    background-color: rgb(201, 163, 135);
    border-radius: 5px;
   }
   
.spells::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136, 85, 48);
   }


.spell::-webkit-scrollbar {
    width: 10px;
   }
   
.spell::-webkit-scrollbar-track {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
   }
   
.spell::-webkit-scrollbar-thumb {
    background-color: rgb(201, 163, 135);
    border-radius: 5px;
   }
   
.spell::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136, 85, 48);
   }

.add::-webkit-scrollbar {
    width: 10px;
   }
   
.add::-webkit-scrollbar-track {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
   }
   
.add::-webkit-scrollbar-thumb {
    background-color: rgb(201, 163, 135);
    border-radius: 5px;
   }
   
.add::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136, 85, 48);
   }

.searchResultsContainer::-webkit-scrollbar {
    width: 10px;
   }
   
.searchResultsContainer::-webkit-scrollbar-track {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
   }
   
.searchResultsContainer::-webkit-scrollbar-thumb {
    background-color: rgb(201, 163, 135);
    border-radius: 5px;
   }
   
.searchResultsContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136, 85, 48);
   }


.filterResults::-webkit-scrollbar {
    width: 10px;
   }
   
.filterResults::-webkit-scrollbar-track {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
   }
   
.filterResults::-webkit-scrollbar-thumb {
    background-color: rgb(201, 163, 135);
    border-radius: 5px;
   }
   
.filterResults::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136, 85, 48);
   }

/* TOGGLES */

.pointer {
    cursor: pointer;
}

.opencover {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
}

.movebook {
    transform: translateX(50%);
}

.invisible {
    display: none;
}
